<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Spline+Sans:wght@500&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
        rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/styles.css' ) }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">
    <title>Game Recommender</title>
</head>

<body>
    <div>
        <div class="vid-wrapper">
            <div class="vid-overlay"></div>
            <img src="{{ url_for('static', filename= 'assets/main.jpg' ) }}">
        </div>
    </div>
    <div class='title'>

        Game <img src="{{ url_for('static', filename= 'assets/icon.png' ) }}" style="filter: invert(1);"> Recommender
    </div>
    <form method="POST">
        <div class="search">
            <input type="text" id="search" name="search">
        </div>
        <div class="find">
            <button type="submit">Get Recommendation</button>
        </div>
    </form>
    </div>
    <script>
        $(function () {
            var availableTags = [
                {% for game in games %}
                "{{game}}",
            {% endfor %}
            ];
        $("#search").autocomplete({
            source: availableTags
        });
      } );
    </script>
</body>

</html>